.row {
  position: relative;
  padding: 20px;
  margin: 5px 0;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}

.row h1 {
  margin: 3px 0;
  font-size: 12px;
  font-weight: normal;
}

.row:last-child {
  margin-bottom: 100px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.content .pill {
  margin: 10px 0;
  font-size: 24px;
  font-weight: bold;
}

.indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
}

.indicator.sequential {
  background-color: #2966cf;
}

.indicator.parallel {
  background-color: #3e8c59;
}
