@import url('https://fonts.googleapis.com/css?family=Heebo:400,900&display=swap');

body {
  max-width: 40vw;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #dfdfdf;

  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  line-height: 1;
}

.hero {
  max-width: 400px;
}

.banner-text {
  font-size: 48px;
}

.row {
  position: relative;
  padding: 20px;
  margin: 5px 0;
  background-color: white;
  border-radius: 5px;
  width: 100%;
}

.controls-container {
  margin-bottom: 20px;
}

.add-button, .remove-button {
  padding: 10px 20px;
  background-color: #ffffff;
  border: 1px solid #cfcfcf;
  color: black;
  border-radius: 5px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.add-button--color-green {
  background-color: #3e8c59;
  border: 1px solid #3d654b;
  color: white;
}

.add-button--color-blue {
  background-color: #2966cf;
  border: 1px solid #325187;
  color: white;
}

.remove-button {
  padding: 5px 10px;
  background-color: #cf4729;
  border: 1px solid #8b4030;
  color: white;
  font-size: 12px;
  font-weight: 400;
  border-radius: 20px;
}

.indicator {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: 20px;
  right: 20px;
}

.indicator.sequential {
  background-color: #2966cf;
}

.indicator.parallel {
  background-color: #3e8c59;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slider {
  display: block;
  -webkit-appearance: none;
  margin: 20px 0;
  width: 50%;

  outline: none;
  cursor: pointer;

  background-color: #808080;
  border: 1px solid #606060;
  border-radius: 20px;
  overflow: hidden;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
